.task-list {
    height: 100%;
}

.content-block {
    height: 100%;
    margin-left: 375px;
}

.content {
    height: 100%;
    width: 400px;
    border: 1px solid #919191;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.title {
    border-bottom: 1px solid #919191;
    width: 400px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.add-task {
    padding: 14px;
    width: 400px;
    height: 116px;
    border: 1px solid #919191;
}

.btn-form1,
.btn-form2 {
    margin-top: 10px;
}

.tasks {
    width: 400px;
    height: 116px;
    padding: 14px;
    border-bottom: 1px solid #919191;
}

.circle {
    border: 4px solid red;
    border-radius: 50%;
    height: 77px;
    width: 77px;
}

.tasks1 {
    width: 400px;
    height: 116px;
    padding: 14px;
    border-bottom: 1px solid #919191;
}

.circle1 {
    border: 4px solid limegreen;
    border-radius: 50%;
    height: 77px;
    width: 77px;
}

.sign-btn {
    color: #212529;
    border-color: #212529;
}

.sign-btn:hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.sign-block {
    width: 400px;
    height: 170px;
    display: flex;
}

.block-wrap {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-btn {
    display: inline-block;
    width: 400px;
    height: 170px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 3rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-wrap {
    height: 550px;
}

.reg-form {
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.form-controll {
    display: block;
    width: 300px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 10px;
}

.form-controll:focus {
    color: #212529;
    background-color: #fff;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(10, 10, 10, 0.25);
  }

.btnn {
    display: inline-block;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    width: 300px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.msg {
    width: 300px;
    height: 50px;
    border-bottom: 1px solid #919191;
}

.btn-darkk {
    color: #fff!important;
    background-color: #212529!important;
    border-color: #212529!important;
    width: 120px!important;
    margin-left: 12px!important;
}

.btn-darkk:hover {
    color: #fff!important;
    background-color: #1c1f23!important;
    border-color: #1a1e21!important;
}

.form-controlo {
    display: block;
    width: 241px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 12px;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.roow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
    flex-direction: row;
}